<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>TaskKeeper - Brf Dammen</title>

<link href="/resources/css/bootstrap.min.css" rel="stylesheet" />
<link href="/resources/css/navbar-fixed-top.css" rel="stylesheet" />

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div th:include="layout :: head"></div>

	<div class="container">


		<div class="panel panel-default">
			<div class="panel-heading">
				<b>Add User</b>
			</div>

			<form method="POST" th:object="${userInfo}">
				<div class="panel-body">


					<div class="row">
						<div class="col-md-8">
							<div class="row">
								<div class="form-group col-md-6">
									<label for="firtsname">First name:</label> <input type="text"
										class="form-control" id="firtsname" placeholder="First name"
										th:field="*{firstname}" />
								</div>

								<div class="form-group col-md-6">
									<label for="lastname">Last name:</label> <input type="text"
										class="form-control" id="lastname" placeholder="Last name"
										th:field="*{lastname}" />
								</div>
							</div>

							<div class="row">
								<div class="form-group col-md-6">
									<label for="userName">User name:</label> <input type="text"
										class="form-control" id="userName" placeholder="User name"
										th:field="*{username}" />
								</div>

								<div class="form-group col-md-6">
									<label for="userName">Password:</label> <input type="text"
										class="form-control" id="userName" placeholder="User name"
										th:field="*{password}" />
								</div>


							</div>

						</div>

					</div>

					<p>
						<button type="submit" class="btn btn-primary">Save</button>
					</p>

				</div>
			</form>
		</div>



		<div th:include="layout :: foot"></div>

	</div>
	<!-- /container -->

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/resources/lib/bootstrap/bootstrap.min.js"></script>
</body>
</html>


